.btn {
  padding: 12px 0;
  width: 205px;
  display: inline-block;
  color: $second-color;
  background-color: $dark;
  border: none;
  border-radius: 1000px;
  font-family: $font-family;
  font-style: normal;
  font-weight: 400;
  font-size: $font-size;
  line-height: 24px;
  cursor: pointer;

  &:hover {
    background-color: $third-color;
  }

  &:focus {
    outline: none;
  }

  &:active {
    background-color: $third-color;
  }

  &--border {
    width: 192px;
    background-color: $second-color;
    color: $text-color;
    border: 2px solid rgba(17, 17, 17, 0.16);
    box-sizing: border-box;
    border-radius: 842.105px;
  }
}
